@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  color: #5c54f3;
}

/****** Login page *********/
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.login-form {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 12px;
  box-shadow: 5px 2px 5px 3px rgb(231, 231, 231);
  width: 35vw;
  padding: 4rem;
}
.error {
  color: red;
}
.login-input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 12px;
  background-color: white;
}
h1 {
  font-size: 40px;
}
.login-button {
  /* border: 1px solid rgb(225, 225, 225); */
  border-radius: 12px;
  margin: 10px 0;
  padding: 8px;
  background-color: #5a55f4;
  color: white;
  font-size: 20px;
}

/****** Upload pdf *********/

#post-file {
  width: 0;
}
.fileText {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border: 1px solid #d5d4fb;
  border-radius: 10px;
}
.fileInput {
  border-radius: 10px;
  padding: 5px 22px;
  color: #362f62;
  cursor: pointer;
}
.fileText:hover {
  background-color: #d5d4fb;
  box-shadow: 0px 5px 5px 0px #2b677783;
}
.upload-pdf {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pdf-upload-container {
  height: max-content;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filesDisplay {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 2px;
}

.files {
  background-color: rgba(229, 229, 229, 0.8);
  text-align: center;
  padding: 12px 0;
  font-size: 20px;
  border-radius: 20px;
  position: relative;
}
.upload-btn {
  padding: 12px;
  width: 8rem;
  border-radius: 20px;
  color: whitesmoke;
  cursor: pointer;
  background-color: #5a55f4;
}
.delete-btn {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  font-size: 15px;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  color: rgba(208, 206, 206, 0.8);
  cursor: pointer;
  background-color: rgb(140, 52, 52);
}
.delete-btn:hover {
  color: rgba(255, 255, 255);
}
